/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --color-primary: #1eae98;
  --color-secondary: #d8b5ff;
  --gradient-main: var(--color-secondary), var(--color-primary);
}

::selection {
  background: #1e8cbe77;
  color: #fff;
}

::-webkit-scrollbar {
  @apply w-1 h-1 md:w-2 md:h-2;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-400 rounded-full;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
