---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const props = Astro.props;
---

<a {...props} target="_blank" rel="noreferrer">
  <slot />
</a>
<style>
  a {
    display: flex;
    border-radius: 999px;
    padding: 0.75rem;
    transition: all 200ms ease;
  }
  a:hover {
    background-color: #1431;
  }
</style>
