---
import { TWITTER_NAME, GITHUB_NAME, ZENN_NAME } from 'src/consts';
import GitHubIcon from 'src/components/icon/GitHub.astro';
import TwitterIcon from 'src/components/icon/Twitter.astro';
import ZennIcon from 'src/components/icon/Zenn.astro';
import SocialLink from './SocialLink.astro';
---

<div>
  <SocialLink href={`https://github.com/${GITHUB_NAME}`} aria-label="Githubへのリンク">
    <GitHubIcon stroke="url(#gradient-main)" />
  </SocialLink>
  <SocialLink href={`https://twitter.com/@${TWITTER_NAME}`} aria-label="Twitterへのリンク">
    <TwitterIcon stroke="url(#gradient-main)" />
  </SocialLink>
  <SocialLink href={`https://zenn.dev/${ZENN_NAME}`} aria-label="Zennへのリンク">
    <ZennIcon stroke="url(#gradient-main)" />
  </SocialLink>
</div>
<style>
  div {
    margin-top: 32px;
    display: flex;
    gap: 16px;
    justify-content: center;
    color: rgb(14 116 144);
  }
  svg {
    width: 24px;
    color: var(--color-primary);
  }
</style>
