---
import 'src/styles/reset.css';
import 'src/styles/global.css';
import { SITE_DESCRIPTION } from 'src/consts';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={SITE_DESCRIPTION} />
    <meta name="viewport" content="width=device-width" />
    <script type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=GTM-PK53BQL"
    ></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'GTM-PK53BQL');
    </script>
    <title>{title}</title>
    <style>
      main {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 1rem;
      }
    </style>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
